# Required
TELEGRAM_BOT_TOKEN=
REPO_URL=
ALLOWED_CHAT_IDS=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Optional (have hardcoded defaults)
# GITLAB_PAT=glpat-xxxxxxxxxxxxxxxxxxxx
# BUILD_COMMAND=flutter build apk --release
# BUILD_OUTPUT_PATH=build/app/outputs/flutter-apk/app-release.apk
# COOLDOWN_SECONDS=300
# MAX_BUILDS=3
# DRIVE_FOLDER_NAME={projectName}-tg-flutter-build-bot
# WEB_PORT=8080
